<br>
<div class="list">
  <br><h1 class="title">Llistat de paraules</h1><br>
  <input type="text" [(ngModel)]="searchText" placeholder="Buscar" class="form-control">
  <app-matchiplist [allData]="tagList"></app-matchiplist>
  <br>
 <table class="table">
   <thead class="table-dark">
     <tr>
       <th scope="col">Xinès</th>
       <th scope="col" class="col_pinyin">Pinyin</th>
       <th scope="col">Català</th>
       <th scope="col" class="col_comentari">Comentari</th>
       <th>Accions</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let item of list| searchFilter : searchText  | paginate: config">
        <td class="caracters"><a [routerLink]="['/paraula/',item.id]">{{item.xines}}</a></td>
        <td class="pinyin col_pinyin">{{item.pinyin}}</td>
        <td>{{item.catala}}</td>
        <td class="col_comentari">{{item.comentari}}</td>
        <td>
          <button class="btn btn-danger" (click)="eliminar(item.id)"><a class="button">Eliminar </a><i class="bi bi-trash"></i></button>
          <button class="btn btn-warning" [routerLink]="['/paraula/edit/',item.id]" routerLinkActive="router-link-active" ><a class="button">Editar </a><i class="bi bi-pencil-fill"></i></button>
        </td>
     </tr>
   </tbody>
 </table>
 <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
</div>
