.list {
  width: 90%;
  align-content: center;
  margin: auto;
  border: 1px solid #3c3c37;
  padding: 10px;
  border-radius: 10px;
  background-color:aliceblue;
}
.title {
  text-align: center;
}
.caracters {
  font-size: 30px;
  text-align: center;
}

.pinyin {
  font-style: oblique;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

@media only screen and (max-width: 650px) {
  .caracters {
    font-size: 16px;
    text-align: center;
  }
  .list {
    width: 98%;
    font-size: 13px;
    padding: 2px;
  }

  .pinyin {
    font-size: 10px;
  }

  button {
    font-size: 8px;
    padding: 5px;
  }

  .button {
    display: none;

  }

  .col_comentari {
    display: none;
  }

  .col_pinyin {
    display: none;
  }
}
